# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\NJU\final(1)\web实践\主题六：银保监会政策解读\主题六：银保监会政策解读\D组\code\cbirc_pi_backend\backend\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
